<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/veterinaires/create">Create a veterinaire</a>
    <ul>
      <% veterinaires.forEach(function(veterinaire){ %>
        <li><%= veterinaire.email %></li>
      <% }) %>
    </ul>
  </body>
</html>
