<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello</h1>
    <p>Votre email est <%= veterinaire.email %></p>
    <% if (veterinaire.firstname) { %>
      <p>Votre nom est <%= veterinaire.firstname %> <%= veterinaire.lastname %></p>
    <% } %>
  </body>
</html>
