<h2>{{pageTitle}}</h2>
  <table class="table  table-hover table-striped" *ngIf="veterinaires$ | async as veterinaires; else loading">
    <thead class="header_table">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let veterinaire of veterinaires" >
        <td>{{veterinaire.name}}</td>
        <td>{{veterinaire.address}}</td>
      <td><button class="btn btn-success" (click)="isValid(veterinaire)">Valider</button></td>
      </tr>
    </tbody>
  </table>
<ng-template #loading>
  <fbapp-loader center></fbapp-loader>
</ng-template>
